In [1]:
import time 
start = time.time()

### Загрузка библиотек

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display
from numpy import nan

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.mode.chained_assignment = None

### Объявление функций

### Объявление констант

In [3]:
delta_path = 'C:/Users/User/Desktop/Росстат/Проект_Датасеты/Датасеты/Демография/!Датасет_демография/3_ready_dataset/'
prepared_data_path = 'C:/Users/User/Desktop/Росстат/Проект_Датасеты/Датасеты/Демография/!Датасет_демография/2_prepared_data/'

In [4]:
last_delta = 'delta_0601.csv'
data_for_concat = 'data_81_101.csv'

### Загрузка датасетов

In [5]:
%%time

start_delta = pd.read_csv(delta_path + last_delta, index_col = 'Unnamed: 0', low_memory=False)

CPU times: total: 4.47 s
Wall time: 4.53 s

In [6]:
%%time

concat_data = pd.read_csv(prepared_data_path + data_for_concat, index_col = 'Unnamed: 0')

CPU times: total: 1.14 s
Wall time: 1.16 s

### Работа с датасетами

In [7]:
start_delta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 678764 entries, 0 to 678763
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     864 non-null     float64
 1   object_name            678764 non-null  object
 2   object_oktmo           765 non-null     float64
 3   object_okato           658617 non-null  float64
 4   year                   678764 non-null  float64
 5   indicator_name         678764 non-null  object
 6   indicator_unit         678476 non-null  object
 7   original_unit          678764 non-null  object
 8   area_type              608225 non-null  object
 9   age_group              295377 non-null  object
 10  year_of_birth          66528 non-null   float64
 11  sex                    266481 non-null  object
 12  month                  43776 non-null   object
 13  birth_order            69888 non-null   object
 14  mother_marital_status  1728 non-null    object
 15  death_cause            4032 non-null    object
 16  bride_age              56252 non-null   object
 17  groom_age              56252 non-null   object
 18  migration_direction    58494 non-null   object
 19  country                280197 non-null  object
 20  region                 26082 non-null   object
 21  territory_type         10368 non-null   object
 22  registration_type      11520 non-null   object
 23  citizenship            11520 non-null   object
 24  indicator_value        678764 non-null  object
 25  original_accuracy      0 non-null       float64
 26  methodology            0 non-null       float64
 27  notes                  0 non-null       float64
dtypes: float64(8), object(20)
memory usage: 150.2+ MB

In [8]:
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265356 entries, 0 to 265355
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   indicator_name   265356 non-null  object
 1   indicator_value  265356 non-null  int64
 2   death_cause      265356 non-null  object
 3   age_group        265356 non-null  object
 4   year             265356 non-null  float64
 5   original_unit    228132 non-null  object
 6   indicator_unit   228132 non-null  object
 7   object_name      265356 non-null  object
 8   object_okato     260604 non-null  float64
 9   area_type        265356 non-null  object
 10  sex              265356 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 24.3+ MB

In [9]:
final_delta = pd.concat([start_delta, concat_data], ignore_index=True, sort=False).reindex(columns=start_delta.columns)

In [10]:
final_delta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944120 entries, 0 to 944119
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     864 non-null     float64
 1   object_name            944120 non-null  object
 2   object_oktmo           765 non-null     float64
 3   object_okato           919221 non-null  float64
 4   year                   944120 non-null  float64
 5   indicator_name         944120 non-null  object
 6   indicator_unit         906608 non-null  object
 7   original_unit          906896 non-null  object
 8   area_type              873581 non-null  object
 9   age_group              560733 non-null  object
 10  year_of_birth          66528 non-null   float64
 11  sex                    531837 non-null  object
 12  month                  43776 non-null   object
 13  birth_order            69888 non-null   object
 14  mother_marital_status  1728 non-null    object
 15  death_cause            269388 non-null  object
 16  bride_age              56252 non-null   object
 17  groom_age              56252 non-null   object
 18  migration_direction    58494 non-null   object
 19  country                280197 non-null  object
 20  region                 26082 non-null   object
 21  territory_type         10368 non-null   object
 22  registration_type      11520 non-null   object
 23  citizenship            11520 non-null   object
 24  indicator_value        944120 non-null  object
 25  original_accuracy      0 non-null       float64
 26  methodology            0 non-null       float64
 27  notes                  0 non-null       float64
dtypes: float64(8), object(20)
memory usage: 201.7+ MB

In [11]:
if pd.datetime.now().month < 10:
    month = '0'+str(pd.datetime.now().month)
else:
    month = '0'+str(pd.datetime.now().month)

if pd.datetime.now().day < 10:
    day = '0'+str(pd.datetime.now().day)
else:
    day = str(pd.datetime.now().day)

new_delta_name = 'delta_'+month+day+'.csv'

C:\Users\User\AppData\Local\Temp\ipykernel_13528\2791596738.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  if pd.datetime.now().month < 10:
C:\Users\User\AppData\Local\Temp\ipykernel_13528\2791596738.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  month = '0'+str(pd.datetime.now().month)
C:\Users\User\AppData\Local\Temp\ipykernel_13528\2791596738.py:6: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  if pd.datetime.now().day < 10:
C:\Users\User\AppData\Local\Temp\ipykernel_13528\2791596738.py:7: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  day = '0'+str(pd.datetime.now().day)

In [12]:
final_delta.to_csv(delta_path + new_delta_name)

In [13]:
end = time.time()
duration = end-start
print(int(duration), 'сек. или', int(duration//60), 'мин. и ', int(duration % 60), 'сек.')

23 сек. или 0 мин. и  23 сек.