In [ ]:
import time 
start = time.time()import dataremake

In [1]:
# importing pandas as pd 
import pandas as pd 
from numpy import nan

In [3]:
data_work = pd.read_csv('C:/Users/User/Desktop/Росстат/Проект_Датасеты/Датасеты/Демография/!Датасет_демография/1_inсoming_data/13-15/t_mt3_30.csv', 
                        sep = '\t',
                       encoding = 'cp1251')

In [4]:
data_work

,Международная миграция \n за январь - декабрь 2020 г,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Центральный федеральный округ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,№ п/п,Для прибывших - страна откуда прибыли или посл...,Городская и сельская местность,NaN,NaN,Городская местность,NaN,NaN,Сельская местность,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Число прибывших,Число выбывших,Миграционный прирост,Число прибывших,Число выбывших,Миграционный прирост,Число прибывших,Число выбывших,Миграционный прирост,NaN,NaN,NaN,NaN
4,А,Б,1,2,3,4,5,6,7,8,9,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# importing pandas as pd 
import pandas as pd 
from numpy import nan
  
# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]
scr_2 = [90, nan, 80, 98]
  
# dictionary of lists 
dict = {'name': nme, 'degree': deg, 'score': scr, 'score_2': scr_2} 
    
df_2 = pd.DataFrame(dict)

ValueError: arrays must all be same length

In [6]:
df_1.describe()

           score    score_2
count   4.000000   4.000000
mean   77.000000  67.000000
std    25.742313  45.269563
min    40.000000   0.000000
25%    70.000000  60.000000
50%    85.000000  85.000000
75%    92.000000  92.000000
max    98.000000  98.000000

In [12]:
df_2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
name       4 non-null object
degree     4 non-null object
score      4 non-null int64
score_2    3 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes

### Загрузка библиотек

### Объявление функций

### Загрузка датасетов

### Работа с датасетами

In [ ]:
end = time.time()
duration = end-start
print(int(duration), 'сек. или', int(duration//60), 'мин. и ', int(duration % 60), 'сек.')